 @charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Roboto);
/* @import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One); */

* {
  font-family: 'Roboto', sans-serif;
}

body {
	background-color: #f7a31f;
}

.storeName {
  font-size: 7vmin;
}

.storeTel {
 font-size: 3vmin;
}

.storeAddress {
  font-size: 4vmin;
}

.well {
  padding: 25px;
  background-color: rgba(245, 245, 245, 0.7);
  border-radius: 5px;
}

.well p {
  font-size: 6vmin;
}

.btn-group-justified {
  margin: 0 auto;
}

h2 {
  font-size: 4vmin;
}

a{
  color: #27b180;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  color: #27b180;
}

/*
 * Airlines
 */
#plane {
  width: 100%;
  position: relative;
  border-top: 20px dashed #ffbb4f;
  background-color: #f7a31f;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}

#plane .content {
  width: 100%;
  float: left;
  font-size: 50px;
  font-weight: 300;
  line-height: 42px;
  margin-top: 30px;
  text-align: center;

}

#plane .content, footer .content{
  font-family: 'Pathway Gothic One';
  font-size: 70px;
  font-weight: 300;
  line-height: 80px;
}

#lunchList {
  height: 190px;
  overflow: hidden;
  display: inline-block;
  text-align: left;
}
